@{
    ViewBag.Title = "Informe Solicitudes de Bajo Stock";
    List<Model.Menu1> lstMenu = ViewBag.Menu1;
}

@section Menu1 {
    @foreach (var item in lstMenu)
    {
        if (item.pagina == "Informes")
        {
            <li class="active"> <a href="~/@item.pagina/Index"> @item.pagina </a> </li>
        }
        else
        {
            <li> <a href="~/@item.pagina/Index"> @item.pagina </a> </li>
        }
    }
}
@section Menu2 {
    <a href="~/Informes/InfSolDispositivos" class="list-group-item"> <b> Solicitudes Dispositivos por Mes </b> </a>
    <a href="~/Informes/InfSolBajoStock" class="list-group-item active"> <b> Solicitudes Bajo Stock por Mes </b> </a>
    <a href="~/Informes/InfBitacoras" class="list-group-item"> <b> Bitacoras por Mes</b> </a>
}
<div class="jumbotron" style="text-align:center;">
    <h2> Informe Solicitudes de Bajo Stock por Mes <i class="glyphicon glyphicon-signal"></i> </h2>
</div>
<br />
<div> <button class="btn btn-primary" id="btnInfSolBS"> Generar </button></div>
<br />
<div class="contenedor" style="visibility:hidden">
    <div class="container">
        <div class="col-xs-2"></div>
        <div class="col-xs-4">
            <table class="table table-hover table-bordered table-condensed">
                <thead>
                    <tr style="text-align:center" class="info">
                        <th> Mes </th>
                        <th> Cantidad </th>
                    </tr>
                </thead>
                <tbody id="table-content"></tbody>
            </table>
        </div>
        <div class="col-xs-4"></div>
    </div>
    <div align="center">
        <div id="grafico" style="width: 600px; height: 400px;"></div>
    </div>
</div>
<script src="~/Assets/js/jquery191.min.js"></script>
<script src="~/Assets/js/jsapi.js"></script>

<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
</script>  
